@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}
.main{
  background-color: #3aafa9;
  height: auto;
}
h1{
  font-weight: bolder;
  color: #17525A;
  text-shadow: 1px 1px 2px black, 0 0 25px #17525A, 0 0 5px #3aafa9;
}
h2{
  font-weight: bolder;
  color: #17525A;
  text-shadow: 1px 1px 2px black, 0 0 25px #17525A, 0 0 5px #3aafa9;
}
.card{
  -webkit-box-shadow: 10px 10px 7px 6px rgba(43,122,120,1);
  -moz-box-shadow: 10px 10px 7px 6px rgba(43,122,120,1);
  box-shadow: 10px 10px 7px 6px rgba(43,122,120,1);
}
.table{
  -webkit-box-shadow: 10px 10px 7px 6px rgba(43,122,120,1);
  -moz-box-shadow: 10px 10px 7px 6px rgba(43,122,120,1);
  box-shadow: 10px 10px 7px 6px rgba(43,122,120,1);
}
.t-rows{
  background-color:#def2f1;
}

  .card-header{
    background-color: #def2f1 ;
  }

.table-bottom{
  margin-bottom: 140px;
}
p{
  color:white;
}


@media (max-width:991px){
  h1{
    font-size: 1.7rem;
   
  }
  h2{
    font-size: 1.3rem;
  }
  .scroll{
    overflow-x: scroll;
  }
}